PUBLIC_SITE_URL=https://xiza.dev
PUBLIC_CV_URL_ES=https://docs.google.com/document/d/xxx/edit?usp=sharing
PUBLIC_CV_URL_EN=https://docs.google.com/document/d/xxx/edit?usp=sharing
SECRET_EMAIL=tu_email@gmail.com
SECRET_EMAIL_PASSWORD=tu_app_password
