---
import '@/styles/global.css';

import Footer from '@/components/astro/Footer.astro';
import Header from '@/components/astro/Header.astro';
import Hero from '@/components/astro/Hero.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout>
  <Header />

  <main>
    <Hero />

    <!-- Sections coming in next phases -->
    <section id="projects" class="min-h-screen"></section>
    <section id="skills" class="min-h-screen"></section>
    <section id="contact" class="min-h-screen"></section>
  </main>

  <Footer />
</BaseLayout>
